<!-- form to login -->

<div id="logcontainer">
  <div class='goback'><a href='/'>Home</a></div>
  <!-- display error if there is one -->
  <!-- use client-side js to do form form validation using custom js-->
  {{#if message}}
    <div class="error">{{message}}</div>
  {{/if}}
  <form method="POST" action="/login">
  	<div>
  		<label for="username">Username:</label>
  		<input type="text" name="username" value="">
  	</div>
  	<div>
  		<label for="password">Password:</label>
  		<input type="password" name="password" value="">
  	</div>
  	<div><input type="submit" value="Login"></div>
  </form>
</div>
