<hr>
<h3> Add a Complaint! </h3>
<form method = "POST" action="/complain">
    Complaint: <input type = "text" name = "complaint">
    Subway Line: <input type = "text" name = "line">
    <input type="submit" value="Complain!">
</form>
<hr>
