<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Complaining Commuter</title>
    <!-- CSS file isn't working -->
    <link rel="stylesheet" href="/css/base.css">
  </head>
  <body>
    <h1> The Complaining Commuter </h1>
    <!-- image isn't showing -->
    <img src = "/img/subway.jpg"/>
    {{{ body }}}
    <ul>
      <li><a href = "/">Complaint List</a></li>
      <li><a href = "/complain">Complain</a></li>
      <li><a href = "#">Stats</a></li>
    </ul>
  </body>
</html>
