<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>layout</title>
    <link rel="stylesheet" href="/css/base.css">
  </head>
  <body>
    <div id="top"> An anonymous course review site </div>
    {{{body}}}
    <div id="links">
      <a href="/">ALL REVIEWS</a>
      <br>
      <a href="/reviews/mine">MY REVIEWS</a>
      <br>
      <a href="/reviews/add">ADD REVIEW!</a>
    </div>
    <h4> Your session's total page visits: {{sesh}}</h4> 
  </body>
</html>
