body {
	background-color: black;
	color: #FFF;
	font-family: monospace;
}

a {
  text-decoration: none;
}
a:link{
		font-family:monospace;
    color:#FFF;
		font-size: 150%;
}

a:visited{
  background-color:#800000;
  color: #a6a6a6;
}


a:hover {
  background-color:#3b5998;
  color:#FFF;
	font-size:150%;
}

a:active {
  background-color:#800000;
  color:#595959;
}


#title {
  font-family: cursive;
	width: auto;
	text-align: center;
	font-size: 200%;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	box-sizing: border-box;
}

.clear {
	clear: both;
}

#navigation {
	width: 80%;
	margin: auto;
}


#navigation a {
	width: 19%;
	display: inline-block;
	height: 45px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	font-size: 150%;
	box-sizing: border-box;
	border-radius: 10px;
	text-align: center;
}


.words {
	margin: auto;
	text-align:center;
	line-height: 150%;
}

.leftcontent {
	width: 380px;
	height: 450px;
	padding: 10px;
	margin: auto;
	float: left;
	font-size: 125%;
}

.rightcontent img{
	width: 480px;
	height: 450px;
	padding: 10px;
	margin: auto;
	float: right;
}

	.content {
	margin: auto;
	width: 920px;
	background-color: #6897bb;
	position: relative;
}
